.App{
  font-family: 'Lato', sans-serif;
}
 .cantainer{
  display: flex;
  padding: 25px;
  gap : 20px;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  background-color: burlywood;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

 .fees{
  width: 220px;
  height: 30px;
 }
